




<div class=" text-center">
  <h1 >Presentacion </h1>
</div>


<div>
  <p class=" des text-center ">Ingeniero de Sistemas y Tecnólogo en Mantenimiento Electrónico e Instrumental Industrial; tengo conocimiento en JavaScript, HTML, CSS y Angular. Responsable y abierto al conocimiento para cada tarea asignada, tener sentido de pertenencia y dejarme instruir para aprender más en mi vida laboral. Poseo de valores y buenas relaciones interpersonales por ende se me facilita el trabajo en equipo y bajo presión, capacidad de liderazgo con adaptación a los cambios.</p>
</div>

<div>
  <p class=" exp text-center mt-5 "><b>Desarrollador web | Javascript | Git | Angular | Linux | SQL |</b></p>
</div>
<br><br>