<div>
    <p class="text-center mt-5 ">Ingeniero de Sistemas y Tecnólogo en Mantenimiento Electrónico e Instrumental Industrial; tengo conocimiento en JavaScript, HTML, CSS y Angular. Responsable y abierto al conocimiento para cada tarea asignada, tener sentido de pertenencia y dejarme instruir para aprender más en mi vida laboral. Poseo de valores y buenas relaciones interpersonales por ende se me facilita el trabajo en equipo y bajo presión, capacidad de liderazgo con adaptación a los cambios.</p>
  </div>
